<h2>{{name}}</h2>
<button (click)="click_me(nameInput.value)" class="btn">Click Me</button>

<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label>Name:</label>
        <input type="text" #nameInput class="form-control"/>
    </div>
</div>

<hr />
<h4>Courses</h4>
<ul>
    <li *ngFor="let c of courses"> {{c}} </li>
</ul>


<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label>Course Name:</label>
        <input type="text" #courseInput class="form-control"/><br/>
        <button (click)="add_course(courseInput.value)" class="btn">Add New Course</button>
    </div>
</div>

<h2>Two-Ways Binding</h2>
<h4>{{country}}</h4>

<hr />
<div class="row">
    <div class="form-group col-md-6">
        <label>Country:</label>
        <input type="text" [(ngModel)]="country" class="form-control"/>
    </div>
</div>